header nav a:last-child:hover {
    transition-duration: 0.2s;
    color: #0065FC;
}

.btn-card-filter:hover {
    animation: filterHover 0.8s 1 ease-in-out;
}

.card-popularity a:hover, .card-accommodation a:hover, .card-activities a:hover {
    transition-duration: 0.1s;
    color: #0065FC;
}
/* [data-aos="mission-slide"] {
    background-size: 400%;
    &.aos-animate {
    background-size: 100%;
    }
} */

@keyframes filterHover {
    0% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(-5%);
    }
}