header nav a:last-child:hover {
    transition-duration: 0.2s;
    color: #0065FC;
}

.btn-card-filter:hover {
    background: linear-gradient(to right, #DEEBFF 15%, transparent 0);
    animation: filterHover 2s 1 ease-in-out;
}

.btn-card-filter:focus {
    transition-duration: 0.5s;
    background-color: #DEEBFF;
}

.card-popularity a:hover, .card-accommodation a:hover, .card-activities a:hover {
    transition-duration: 0.2s;
    color: #0065FC;
}

@keyframes filterHover {
    0% {
        background-size: 100%;
    }

    45% {
        background-size: 700%;
    }

    45% {
        background-size: 700%;
    }

    100% {
        background-size: 100%;
    }
}