@font-face {
  font-family: "raleway";
  src: url(./assets/font/raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-ex-b";
  src: url(./assets/font/raleway/static/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-md";
  src: url(./assets/font/raleway/static/Raleway-Medium.ttf) format('truetype');
}

/* reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'raleway' , Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

/*reset-theme*/

  textarea:focus, input:focus {
    outline: none;
    color: #0065FC;
  }

/* lien */
  a {
    text-decoration: none;
    color: #0065FC;
    font-weight: 600;
  }

/* Font-properties */

h2 {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
}

p {
  font-family: 'raleway-md' , Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.in-location, strong {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.btn-card-filter:not(i) {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

/* Header */

header{
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

  header img {
    height: 50px;
    position:relative;
    left: 10%;
    grid-area: 1 / 1 / 2 / 2;
    
  }

  header > a {
    width: min-content;
    position: relative;
    left: 50%;
    top: 5%;
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    align-content: center;
    font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
    font-weight: light;
  }

    header img , header > a {
      margin: 2vh 0 2vh 0;
    }

  header nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 1 / 3 / 3;
  }

/* Navigation */

.nav-search-filter {
  margin: 3vh 4.5vw 3vh 4.5vw;
}
  .nav-search-filter *:not(.fas, .nav-search-filter p, .div-filter p) {
    margin-bottom: 1.2vh;
  }
  .nav-search-filter h2 {
    width: 90%;
  }
  .nav-search-filter p {
    margin-bottom: 3vh;
  }

/* Navigation - searchBar*/

.span-icon-location {
  padding: 14px 15px 14px 20px;
  border-radius: 30% 0% 0 30%;
  background-color: #F2F2F2;
}

  .icon-location {
    font-size: 17px;
    /* padding: 30% 0 0 32%; */
  } 

.in-location {
  height: 47px;
  width: 235px;
  padding-left: 15px;
  border: 1px solid #F2F2F2;
}

.btn-search-icon {
  height: 49px; width: 49px;
  margin-left: -20px;
  border: 0px;
  border-radius: 1em;
  font-size: 15px;
  background-color: #0065FC;
}

.icon-search {
  border: none;
  background-color: #0065FC;
  color: white;
}

.btn-search-text {
  display: none;
}

/* Navigation - filter*/

.div-filter p{
  margin-bottom: 3vh;
}

.box-card-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.btn-card-filter {
  width: 95%;
  min-width: min-content; 
  max-width: 200px;
  height: 45px;
  display: flex;
  align-content: center;
  align-items: center;
  border: 2px solid #c0bebe;
  border-radius: 2em;
  background-color: white;
}

  .btn-card-filter .icon-filter{
    height: 45px; width: 45px;
    margin-left: -2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0065FC;
    border-radius: 2em;
    background-color: #DEEBFF;
  }

  .btn-card-filter:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .btn-card-filter:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .btn-card-filter:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .btn-card-filter:last-child {
    grid-area: 3 / 1 / 4 / 3;
  }

/* Navigation - info*/  

.div-info {
  display: flex;
}

  .btn-icon-info {
    width: 30px; height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid #c0bebe;
    border-radius: 50%;
    color: #0065FC;
  }

  .div-info p {
    position: relative;
    top: 4px;
  }
