@font-face {
  font-family: "raleway";
  src: url(./assets/font/raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-b";
  src: url(./assets/font/raleway/static/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-ex-b";
  src: url(./assets/font/raleway/static/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-md";
  src: url(./assets/font/raleway/static/Raleway-Medium.ttf) format('truetype');
}



/* reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  body {
    max-width: 1600px;
    margin: 0;
    font-family: 'raleway' , Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    list-style: none;
  }

/*reset-theme*/

  textarea:focus, input:focus {
    outline: none;
    color: #0065FC;
  }

/* basic container padding */

section > div {
  padding: 4.5vh 5vw 0.1vh 5vw;
}

footer {
  padding: 4.5vh 7vw 3vh 7vw;
}

/* lien */

  a {
    text-decoration: none;
    color: black;
  }

  em {
    font-style: normal;
  }

/* Font-properties */

h2 {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
}

h3 {
  font-family: "raleway-md", Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

h4 {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.97em;
}

h5 {
  font-family: "raleway-md", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2em;
  font-weight: bold;
}

p {
  font-family: 'raleway-md', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

ul p {
  font-size: 13.5px;
}

a {
  font-family: 'raleway-md', Georgia, 'Times New Roman', Times, serif;
}

.in-location, strong {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.btn-search-text {
  font-family: 'raleway-b', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.btn-card-filter:not(i) {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

.btn-show-accommodation {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.1em;
}

/* icon */

.icon-popularity, .icon-popularity-sp {
  letter-spacing: -2px;
  font-size: 11px;
}

.icon-popularity:not(.icon-popularity-sp) {
  color: #0065FC;
}

.icon-popularity-sp {
  color: #c0bebe;
}

/* Header */

header{
  height: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

  header img {
    height: 50px;
    position:relative;
    left: 5vw;
    grid-area: 1 / 1 / 2 / 2;
  }

  header a:not(nav a) {
    color: #0065FC;
    font-weight: bold;
  }

  header > a {
    width: min-content;
    position: relative;
    left: 50%;
    top: 5%;
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    align-content: center;
  }

    header img , header > a {
      margin: 2vh 0 2vh 0;
    }

  header nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 1 / 3 / 3;
  }

/* Navigation */

.nav-search-filter {
  padding: 3vh 4.5vw 1vh 4.5vw;
}

  .nav-search-filter h2 {
    width: 90%;
    margin-bottom: 1.2vh;
  }
  .nav-search-filter p, .div-filter {
    margin-bottom: 3vh;
  }

/* Navigation - searchBar*/

.span-icon-location {
  padding: 14px 15px 14px 20px;
  border-radius: 30% 0% 0 30%;
  background-color: #F2F2F2;
}

  .icon-location {
    font-size: 17px;
    /* padding: 30% 0 0 32%; */
  } 

.in-location {
  height: 47px;
  width: 236px;
  width: 63.97%;
  min-width: 180px;
  padding-left: 20px;
  position: relative;
  left: 0px;
  z-index: 1;
  border: 1px solid #F2F2F2;
}

.btn-search-icon {
  height: 49px; width: 49px;
  position: relative;
  left: -10px;
  z-index: 2;
  border: 0px;
  border-radius: 1em;
  font-size: 15px;
  background-color: #0065FC;
}

.icon-search {
  border: none;
  background-color: #0065FC;
  color: white;
}

.btn-search-text {
  display: none;
}

/* Navigation - filter*/

.div-filter {
  margin-top: 20px;
}

.div-filter p{
  margin-bottom: 3vh;
}

.box-card-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.btn-card-filter {
  width: 95%;
  max-width: 200px;
  height: 45px;
  display: flex;
  align-content: center;
  align-items: center;
  border: 2px solid #e7e5e5;
  border-radius: 2em;
  background-color: white;
  margin-bottom: 1.2vh;
}

  .btn-card-filter .icon-filter{
    height: 45px; width: 45px;
    margin-left: -2px;
    margin-right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0065FC;
    border-radius: 2em;
    background-color: #DEEBFF;
  }

  .btn-card-filter:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .btn-card-filter:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .btn-card-filter:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .btn-card-filter:last-child {
    grid-area: 3 / 1 / 4 / 3;
  }

/* Navigation - info*/  

.div-info {
  display: flex;
}

  .btn-icon-info {
    width: 30px; height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid #c0bebe;
    border-radius: 50%;
    color: #0065FC;
  }

  .div-info p {
    position: relative;
    top: 4px;
  }

/* Popularity */

.popularity {
  background-color: #F2F2F2;
  padding-bottom: 4.5vh;
}

.header-popularity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.header-popularity .icon-chart {
  font-size: 24px;
}

/* Popularity - Card */

.card-popularity {
  max-width: 335px;
  margin: 2% 0 2% 0;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 10px #c0bebe;
}

.card-popularity a {
  height: 146px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-popularity img {
  width: 85%; height: 135px;
  grid-area: 1 / 1 / 4 / 2;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.card-popularity h4 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
}

.card-popularity p {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 8px;
}

.card-popularity div {
  grid-area: 3 / 2 / 4 / 3;
  align-self: center;
  font-size: 11px;
}

/* Accomodation */

.accommodation h2 {
  margin-bottom: 3vh;
}

.card-accommodation a {
  width: 100%;
  min-width: 245px;
  max-width: 335px;
  height: 196px;
  padding: 4px;
  margin-bottom: 2vh;
  display: grid;
  box-shadow: 0 0 3px #c0bebe;
  border-radius: 1em;
}

  .card-accommodation img {
    width: 100%; height: 115px;
    justify-self: center;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
  }

  .card-accommodation h4 {
    padding-top: 4px;
  }

  .card-accommodation h4, .card-accommodation p, .card-accommodation div {
    padding-left: 10px;
    padding-bottom: 3px;
  }

.btn-show-accommodation {
  margin-top: 3vh;
  border: none;
  background-color: transparent;
}

/* Paranormal activity */

.activities h2 {
  padding: 4.5vh 4.5vw 0 4.5vw;
}

  .card-activities a {
    max-width: 335px;
    height: 170px;
    margin-bottom: 2vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 0 0 3px #c0bebe;
    border-radius: 1em;
  }

    .card-activities img {
      width: 100%; height: 115px;
      grid-area: 1 / 1 / 2 / 2;
      border-radius: 1em 1em 0 0;
      object-fit: cover;
    }

    .card-activities h3 {
      padding-left: 15px;
      grid-area: 2 / 1 / 3 / 2;
      align-self: center;
    }

/* Footer */

footer {
  background-color: #F2F2F2;
}

footer div:not(:last-child) {
  margin-bottom: 30px;
}

footer h5 {
  margin-bottom: 17px;
}

footer p {
  margin-bottom: 10px;
}

@media all and (min-width: 375px) {
  /* Upgrade to a size for very small devices to a standard size */
  .in-location {
    width: 236px;
  }
  }

  @media all and (min-width: 768px) {
    /* icon reset radius */
    .btn-icon-info {
      width: 25px; height: 25px;
      border-radius: 100%;
    }

    }

@media all and (min-device-width : 768px) and (max-device-width : 1023px) {
  /* smartphones landscape - Tablettes */

  /* Navigation - info*/  

  .popularity-accommodation ul, .box-card-activities, footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  footer div {
    margin-bottom: 0;
  }

  }

@media all and (min-device-width : 1024px) {
  /* Tablettes landscape - desktop */

  /* basic container padding */

  section > div:not(.box-card-activities) {
    padding: 4.5vh 3vw 0.1vh 3vw;
  }
  
    footer {
      padding: 4.5vh 7vw 3vh 13.1vw;
    }

  /* Header */

  header {
    height: 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
  }

    header > a {
      /* left: 50%; */
      /* left: 91%; */
      left: 65%;
      top: 0px;
      grid-area: 1 / 3 / 2 / 4;
      align-content: center;
    }

      header img , header > a {
        margin: 0;
      }

    header nav {
      width: 100%;
      height: max-content;
      grid-area: 1 / 2 / 2 / 3;
    }

      header nav a:first-child {
        position: relative;
        left: 94%;
      }

      header nav a:last-child {
        position: relative;
        left: 71%;
      }

    /* Navigation - searchBar */

      .search-bar {
        display: flex;
      }

      .btn-search-icon {
        display: none;
      }

      .btn-search-text {
        display: block;
        height: 49px;
        padding: 0 15px;
        color: white;
        background-color: #0065FC;
        border: none;
        border-radius: 0 1em 1em 0;
      }

    /* Navigation - filter*/
    
    .div-filter {
      margin-top: 20px;
      display: flex;
      align-items: center;
    }

    .div-filter p{
      margin-bottom: 0;
      display: flex;
      justify-content: center;
    }

    .box-card-filter {
      display: flex;
    }

    .btn-card-filter {
      max-width: 200px;
      margin-bottom: 0;
      margin-left: 25px;
    }

      .btn-card-filter:first-child {
        min-width: 160px;
      }

      .btn-card-filter:nth-child(2) {
        min-width: 130px;
      }
    
      .btn-card-filter:nth-child(3) {
        min-width: 160px;
      }
    
      .btn-card-filter:last-child {
        min-width: 200px;
      }

    .popularity-accommodation {
      padding: 0 5vw;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .popularity {
      width: 30%;
      /* display: flex;
      flex-direction: column; */
      border-radius: 1em;
      /* padding-bottom: 4.5vh; */
      padding-bottom: 0vh;
    }

    /* Popularity - Card */

    .card-popularity {
      margin: 9% 0 9% 0;
    }

    /* Accommodation */

    .accommodation {
      background-color: #F2F2F2;
      border-radius: 1em;
      width: 67%;
    }

    .accommodation ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .card-accommodation a {
      max-width: 245px;
      margin-bottom: 2.5vh;
      /* margin-right: 1vw; */
    }

    .btn-show-accommodation {
      margin-top: 0vh;
    }

    /* Paranormal activity */

    .activities {
      padding: 0 5vw;
      margin-bottom: 3%;
    }

      .activities h2 {
        padding: 4.5vh 4.5vw 0 0;
      }

    .box-card-activities {
      display: flex;
      padding: 2.5vh 0 0 0;
      justify-content: space-between;
      /* height: max-content; */
      border: 1px solid red;
    }

    .list-card-activities {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      /* grid-column-gap: 6%;
      grid-row-gap: 6%; */
      border: 1px solid green;
    }

    .card-activities {
      width: 300px;
      max-height: 445px;
    }

      .card-activities:first-child a {
        /* max-width: 335px; */
        height: max-content;
        max-height: 445px;
        margin-bottom: 2vh;
      }

    .card-activities:first-child {
      grid-area: 1 / 1 / 3 / 2;
    }

    .card-activities:nth-child(2) {
      grid-area: 1 / 2 / 2 / 3;
    }

    .card-activities:last-child {
      grid-area: 2 / 2 / 3 / 3;
    }

    .list-card-activities .card-activities:first-child img {
      height: 387px;
    }
/****je suis laaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa**/
    .box-card-activities img {
      height: 183px;
      border: black 2px solid;
    }

    .list-card-activities .card-activities:nth-child(3) img {
      /* height: 110px;
      border: black 1px solid; */
    }

    .list-card-activities .card-activities:nth-child(5) img {
      /* height: 140px;
      border: black 1px solid; */
    }

    .list-card-activities .card-activities:last-child img {
      /* height: 155px;
      border: black 1px solid; */
    }

    .card-activities img {
      /* width: 100%;  */
      height: 115px;
      /* grid-area: 1 / 1 / 2 / 2;
      border-radius: 1em 1em 0 0; */
      /* object-fit: cover; */
    }

    /* Footer */

      footer {
        width: 100vw;
        position: absolute;
        display: flex;
        right: 0;
        /* justify-content: space-between; */
        background-color: #F2F2F2;
      }

      footer div:not(:last-child) {
        margin-right: 19%;
        margin-bottom: 0px;
      }

      footer p {
        margin-bottom: 9px;
      }

  }