@font-face {
  font-family: "raleway";
  src: url(./assets/font/raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-ex-b";
  src: url(./assets/font/raleway/static/Raleway-ExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: "raleway-md";
  src: url(./assets/font/raleway/static/Raleway-Medium.ttf) format('truetype');
}

/* reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'raleway' , Georgia, 'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul {
    list-style: none;
  }

/*reset-theme*/

  textarea:focus, input:focus {
    outline: none;
    color: #0065FC;
  }

/* basic container padding */
section > div, footer {
  padding: 4.5vh 4.5vw 3vh 4.5vw;
}

/* lien */

  a {
    text-decoration: none;
    color: black;
  }

  em {
    font-style: normal;
  }

/* Font-properties */

h2 {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
}

h4 {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.97em;
}

p {
  font-family: 'raleway-md', Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

ul p {
  font-size: 13.5px;
}

a {
  font-family: 'raleway-md', Georgia, 'Times New Roman', Times, serif;
}

.in-location, strong {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 1em;
}

.btn-card-filter:not(i) {
  font-family: "raleway-ex-b", Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9em;
}

/* icon */

.icon-popularity, .icon-popularity-sp {
  letter-spacing: -2px;
  font-size: 11px;
}

.icon-popularity:not(.icon-popularity-sp) {
  color: #0065FC;
}

.icon-popularity-sp {
  color: #c0bebe;
}

/* Header */

header{
  height: 15vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

  header img {
    height: 50px;
    position:relative;
    left: 10%;
    grid-area: 1 / 1 / 2 / 2;
    
  }

  header a:not(nav a) {
    color: #0065FC;
    font-weight: bold;
  }

  header > a {
    width: min-content;
    position: relative;
    left: 50%;
    top: 5%;
    display: grid;
    grid-area: 1 / 2 / 2 / 3;
    align-content: center;
  }

    header img , header > a {
      margin: 2vh 0 2vh 0;
    }

  header nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: 2 / 1 / 3 / 3;
  }

/* Navigation */

.nav-search-filter {
  padding: 3vh 4.5vw 1vh 4.5vw;
}
  .nav-search-filter *:not(.fas, .nav-search-filter p, .div-filter p) {
    margin-bottom: 1.2vh;
  }
  .nav-search-filter h2 {
    width: 90%;
  }
  .nav-search-filter p {
    margin-bottom: 3vh;
  }

/* Navigation - searchBar*/

.span-icon-location {
  padding: 14px 15px 14px 20px;
  border-radius: 30% 0% 0 30%;
  background-color: #F2F2F2;
}

  .icon-location {
    font-size: 17px;
    /* padding: 30% 0 0 32%; */
  } 

.in-location {
  height: 47px;
  width: 236px;
  padding-left: 20px;
  position: relative;
  left: 0px;
  z-index: 1;
  border: 1px solid #F2F2F2;
}

.btn-search-icon {
  height: 49px; width: 49px;
  position: relative;
  left: -10px;
  z-index: 2;
  border: 0px;
  border-radius: 1em;
  font-size: 15px;
  background-color: #0065FC;
}

.icon-search {
  border: none;
  background-color: #0065FC;
  color: white;
}

.btn-search-text {
  display: none;
}

/* Navigation - filter*/

.div-filter p{
  margin-bottom: 3vh;
}

.box-card-filter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.btn-card-filter {
  width: 95%;
  min-width: min-content; 
  max-width: 200px;
  height: 45px;
  display: flex;
  align-content: center;
  align-items: center;
  border: 2px solid #c0bebe;
  border-radius: 2em;
  background-color: white;
}

  .btn-card-filter .icon-filter{
    height: 45px; width: 45px;
    margin-left: -2px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #0065FC;
    border-radius: 2em;
    background-color: #DEEBFF;
  }

  .btn-card-filter:first-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .btn-card-filter:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }

  .btn-card-filter:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
  }

  .btn-card-filter:last-child {
    grid-area: 3 / 1 / 4 / 3;
  }

/* Navigation - info*/  

.div-info {
  display: flex;
}

  .btn-icon-info {
    width: 30px; height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-size: 12px;
    border: 1px solid #c0bebe;
    border-radius: 50%;
    color: #0065FC;
  }

  .div-info p {
    position: relative;
    top: 4px;
  }

/* Popularity */

.popularity {
  background-color: #F2F2F2;
}

.header-popularity {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3vh;
}

.header-popularity .icon-chart {
  font-size: 24px;
}

/* Popularity - Card */

.card-popularity {
  max-width: 335px;
  margin: 2% 0 2vh 0;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0 0 10px #c0bebe;
}

.card-popularity a {
  height: 146px;
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.card-popularity img {
  width: 85%; height: 135px;
  grid-area: 1 / 1 / 4 / 2;
  border-radius: 1em 0 0 1em;
  object-fit: cover;
}

.card-popularity h4 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: flex-end;
}

.card-popularity p {
  grid-area: 2 / 2 / 3 / 3;
  margin-top: 8px;
}

.card-popularity div {
  grid-area: 3 / 2 / 4 / 3;
  font-size: 11px;
  align-self: center;
}

/* Accomodation */

.accommodation h2 {
  margin-bottom: 3vh;
}

.card-accommodation {
  height: 196px;
  padding: 4px;
  margin-bottom: 2vh;
  display: grid;
  box-shadow: 0 0 3px #c0bebe;
  border-radius: 1em;
}

  .card-accommodation img {
    width: 331px; height: 115px;
    justify-self: center;
    border-radius: 1em 1em 0 0;
    object-fit: cover;
  }

  .card-accommodation h4 {
    padding-top: 4px;
  }

  .card-accommodation h4, .card-accommodation p, .card-accommodation div {
    padding-left: 10px;
    padding-bottom: 3px;
  }