/* reset */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

@font-face {
  font-family: "raleway";
  src: url(./assets/font/raleway/Raleway-VariableFont_wght.ttf) format('truetype');
}